body {
  background-color: rgba(25, 70, 68, 1);
}
h1 {
  color: #fffffe;
  display: block;
  margin: 15% 5% 5% 2%;
  font-size: 1.5em;
}
h2 {
  color: #fffffe;
  padding: 5% 2% 2% 2%;
}
p {
  color: #abd1c6;
  padding: 2%;
}
ul {
  color: #e16162;
}
.container {
  margin: 0;
  padding: 0;
}
#toggler {
  background-color: rgba(237, 166, 59, 0.8);
}
#headshot {
  box-shadow: 0.5em 0.5em 0.5em rgba(25, 70, 68, 1);
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 50%;
}
#navbar {
  position: fixed;
  width: 100%;
}
