h1 {
  display: block;
  margin: 15% 5% 5% 5%;
  font-size: 2em;
}
h2 {
  padding: 2%;
}
p {
  padding: 2%;
}
.container {
  margin: 0;
  padding: 0;
}
#headshot {
  display: block;
  margin: 0 auto;
  padding: 2%;
  width: 75%;
  height: 50%;
}
#navbar {
  position: fixed;
  width: 100%;
}
